/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');

.form {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.input {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  border: 1px solid #808080;
  outline: none;
  min-width: 272px;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding: 8px 16px;
}

.input:hover {
  border: 1px solid black;
}

.input:focus,
.input:active {
  border: 1px solid #4e75ff;
}

.button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  min-width: 91px;
  height: auto;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  background-color: #4e75ff;
  outline: none;
}

.button:hover {
  background-color: #6c8cff;
}

.gallery {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.gallery-item {
  border: none;
  width: 100%;
  max-width: 360px;
  min-height: 200px;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 1px solid #808080;
}

.gallery-link {
  display: block;
  width: 100%;
  height: 152px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item:hover {
  transform: scale(1.04);
}

.gallery-info {
  display: flex;
  justify-content: space-evenly;
  min-height: 48px;
  max-width: 360px;
  width: 100%;
  align-items: center;
}

.gallery-info span {
  font-weight: bold;
}

.loader {
  display: none;
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
}

.btn-load {
  display: block;
  justify-content: center;
}

.button-load {
  margin: 15px auto;
  padding: 15px 50px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  background-color: #4e75ff;
  outline: none;
}

.loader-add {
  display: none;
  font-weight: bold;
  font-size: 18px;
  margin: 15px auto 0;
  padding: 15px 50px;
}
